@import "true";
@import "tools.scss";

// Functions
@include test-module('Functions') {

	// Private _strip-unit function.
	@include test('@function _strip-unit') {
		@include assert-equal( _strip-unit(16px), 16 );
	}

	// pmc-rem function.
	@include test('@function pmc-rem') {
		@include assert-equal( pmc-rem(16), '1rem' );
	}

}

// Module Group
@include test-module('Mixins') {

	// pmc-breakpoint mixin.
	@include test('@mixin pmc-breakpoint') {

		@include assert {

			@include output {
				@include pmc-breakpoint( desktop ) {
					font-size: 1rem;
				}
			}

			@include contains {
				@media( min-width: $pmc-screen-desktop ) {
					font-size: 1rem;
				}
			}
		}
	}
}

@include test-module('Class Generators') {

	@include test('@mixin _spacing-class-generator') {
		@include assert {

			@include output {
				$spacer-050: 0.5rem;
				$spacer-1: 1rem;

				@include _spacing-class-generator(
					'margin',
					(
						('tb', $spacer-050),
						('a', $spacer-1, desktop)
					)
				);

				@include _spacing-class-generator(
					'padding',
					(
						('a', $spacer-1),
					)
				);
			}

			@include expect {
				.pmc-u-margin-tb-050 {
					margin-top: 0.5rem;
					margin-bottom: 0.5rem;
				}

				@media (min-width: 62.5rem) {
					.pmc-u-margin-a-1 {
						margin: 1rem;
					}
				}

				.pmc-u-padding-a-1 {
					padding: 1rem;
				}
			}
		}
	}

	@include test('@mixin _crop-class-generator') {

		@include assert {

			@include output {
				@include _crop-class-generator( (
					'2x3': (2, 3)
				) );
			}

			@include contains {
				.pmc-u-crop-2x3 {
					padding-bottom: calc( ( 2 / 3 ) * 100% );
				}

				.pmc-u-crop-2x3 img {
					object-fit: cover;
				}
			}
		}
	}

	@include test('@mixin _text-class-generator') {

		@include assert {

			@include output {

				$font-size-1: 1rem;
				$font-size-2: 2rem;

				$line-heights: (
					sm: 1,
					md: 2,
					lg: 3,
				);
				
				$font-family-balto: Balto, sans-serif;

				$font-families: (
					balto: ($font-family-balto, 'web',),
					helvetica: (Helvetica, 'system',),
				);


				@include _text-class-generator(
					'font-size',
					(
						( $font-size-1, ),
						( $font-size-2, desktop, )
					)
				);

				@include _text-class-generator(
					'line-height',
					(
						sm,
					),
					$line-heights
				);

				@include _text-class-generator(
					'font-family',
					(
						balto,
						helvetica
					),
					$font-families
				);
			}

			@include expect {
				.pmc-u-font-size-16 {
					font-size: 1rem;
				}

				@media( min-width: 62.5rem ) {
					.pmc-u-font-size-32\@desktop {
						font-size: 2rem;
					}
				}

				.pmc-u-line-height-sm {
					line-height: 1;
				}

				.wf-active .pmc-u-font-family-balto {
					font-family: Balto, sans-serif;
				}

				.pmc-u-font-family-helvetica {
					font-family: Helvetica;
				}

			}
		}
	}
}
