
// Yellow
$color-yellow-50: #FFFB45;

// Reds
$color-red-92: #F5DFDD;
$color-red-67: #D77979;
$color-red-49: #CF3535;
$color-red-31: #920200;
$color-red-18: #550100;

// Orange
$color-orange-50: #FF7500;

// Greens
$color-green-28: #388C3C;
$color-green-93: #E8F5E9;

// Blues
$color-blue-96: #F1F8FC;
$color-blue-92: #E0EDF5;
$color-blue-50: #4E8BD4;
$color-blue-65: #5BC1F0;

// Geyser
$color-geyser-85: #D3DDE2;

// Greys
$color-grey-100:#FFFFFF; // white
$color-grey-98: #FAFAFA; // grey-lightest
$color-grey-90: #E6E6E6; // grey-light
$color-grey-80: #CCCCCC; // grey-medium-light
$color-grey-70: #6A6A6A; // grey-medium
$color-grey-50: #8C8C8C;
$color-grey-35: #595959; // grey-medium-dark
$color-grey-20: #323232; // grey-dark
$color-grey-10: #191919; // grey-darkest
$color-grey-0:  #000000; // white


// Semantic Color Names
$color-white:     $color-grey-100;
$color-black:     $color-grey-0;
$color-brand-red: $color-red-31;
$color-exclusive: $color-yellow-50;

// Social Colors
$color-facebook:  #4670D2;
$color-twitter:   #81BBFF;
$color-tumblr:    #1A416E;
$color-pinterest: #CF3535;
$color-reddit:    #ff4500;
$color-linkedin:  #0077b5;
$color-whatsapp:  #23c100;
$color-email:     $color-grey-20;
$color-print:     $color-grey-20;
$color-comment:   $color-grey-20;
