@import '@penskemediacorp/larva-scss/dist/tokens';
@import '@penskemediacorp/larva-scss/dist/tools';

@mixin _a-glue-base {
	position: absolute;
	z-index: $z-index-middle-bottom;
	top: var( --a-glue-top, initial );
	bottom: var( --a-glue-bottom, initial );
	right: var( --a-glue-right, initial );
	left: var( --a-glue-left, initial );
}

.pmc-a-glue-parent {
	position: relative;
}

.pmc-a-glue {
	// Fallback is top left for everything.
	top: 0;
	left: 0;

	@include _a-glue-base;
}

.pmc-a-glue--l-0 {
	--a-glue-left: 0;
}

.pmc-a-glue--r-0 {
	--a-glue-right: 0;
}

.pmc-a-glue--t-0 {
	--a-glue-top: 0;
}

.pmc-a-glue--b-0 {
	--a-glue-bottom: 0;
}
