// Nav
//
// .o-nav--flexy - A horizontal, flexible, centered nav.
// .o-nav--horizontal - A horizontal, centered nav.
//
// Markup: o-nav.twig
//
// Style Guide: Objects.Nav

@import '../../../node_modules/@penskemediacorp/larva-scss/src/setup.scss';

.o-nav {}

.o-nav__title {}

.o-nav__list {
	@include pmc-unstyle-list;
}

.o-nav--flexy .o-nav__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.o-nav--horizontal .o-nav__list {
	display: flex;
	align-items: center;
}

.o-nav--flexy .o-nav__list-item {
	padding-left: $spacer-050;
	padding-right: $spacer-050;
}

.o-nav__list-item:last-child {

	.o-nav--flexy  & {
		border-right: 0;
	}
}
