// Add a label in the bottom right to indicate the current breakpoint.
@import '../setup';

body::after {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 1rem 2rem;
	background-color: navy;
	color: lemonchiffon;
	font-family: sans-serif;
	content: 'between mobile and tablet';

	@media( max-width: $pmc-screen-mobile ) {
		content: 'mobile-max';
		background-color: dodgerblue;
	}

	@media( min-width: $pmc-screen-tablet ) {
		content: 'tablet';
		background-color: coral;
	}

	@media( min-width: $pmc-screen-desktop ) {
		content: 'desktop';
		background-color: rebeccapurple;
	}
}
