@import '@penskemediacorp/larva-scss/dist/tools';

@include pmc-breakpoint( mobile-max ) {
	.js-MobileHeightToggle .js-MobileHeightToggle-target {
		height: 0;
		visibility: hidden;
	}
	
	.js-MobileHeightToggle.is-expanded .js-MobileHeightToggle-target {
		height: auto;
		visibility: visible;
	}

	.js-MobileHeightToggle.is-expanded .a-icon-arrow-down.a-icon-after::after { // stylelint-disable-line selector-max-specificity
		--a-icon-transform: rotate(180deg);
	}
}