@import '@penskemediacorp/larva-scss/dist/tokens';
@import '@penskemediacorp/larva-scss/dist/tools';

$ICONS_BUILD_PATH: '/icons';

@mixin _a-icon-base {
	content: var(--a-icon-content, '');
	background: var(--a-icon-url, '') no-repeat;
	background-size: contain;
	height: var(--a-icon-height, #{ $spacer-1 });
	width: var(--a-icon-width, #{ $spacer-1 });
	transform: var( --a-icon-transform, none );
}

@mixin _a-icon-base-pseudo( $pseudo-el ) {
	display: inline-flex;
	align-items: center;
	flex-wrap: nowrap;

	&::#{$pseudo-el} {
		@include _a-icon-base();

		@content;
	}
}

@mixin _a-icon-reset( $pseudo-el ) {
	&::#{$pseudo-el} {
		height: initial;
		width: initial;
		background: initial;
		font-size: inherit;
		color: currentColor;
		margin: 0;

		@content;
	}
}

.a-icon {
	@include _a-icon-base();
}

.a-icon-before {
	@include _a-icon-base-pseudo( before ) {
		margin-right: $spacer-050;
	}
}

.a-icon-after {
	@include _a-icon-base-pseudo( after ) {
		margin-left: $spacer-050;
	}
}


// Specific Icons

.a-icon-left-arrow,
.a-icon-right-arrow,
.a-icon-down-arrow,
.a-icon-up-arrow {
	--a-icon-url: url( #{$ICONS_BUILD_PATH + '/stack/svg/sprite.stack.svg#arrow'} );
	--a-icon-height: #{ $font-size-12 };
}

.a-icon-right-arrow {
	--a-icon-transform: rotate(-90deg);
}

.a-icon-down-arrow {
	// --a-icon-transform: rotate(-90deg);
}

.a-icon-left-arrow {
	--a-icon-transform: rotate(90deg);
}

.a-icon-envelope {
	--a-icon-url: url( #{$ICONS_BUILD_PATH + '/stack/svg/sprite.stack.svg#envelope'} );
}

.a-icon-forward-slash {
	--a-icon-content: '/';

	@include _a-icon-reset( before ) {
		padding-right: $spacer-050;
	};

	@include _a-icon-reset( after ) {
		padding-left: $spacer-025;
	};
}








// // ----------
// // Special Instance for Footer Dropdown Toggle Arrow
// // ----------

// // @TODO: Move a-icon-after-down to one-offs or an algorithm called a-border-icon / a-toggle-icon.
// .a-icon-after-down {
// 	position: relative;
// 	display: flex;
// 	align-items: center;
// 	flex-wrap: nowrap;
// 	padding-right: $spacer-025;

// 	&::after {
// 		content: '';
// 		margin-left: auto;
// 		width: 0.75rem;
// 		height: 0.75rem;
// 		transform: scaleY(0.85) translate(-50%,-50%) rotate(45deg);
// 		border: 0.125rem solid;
// 		border-left: none;
// 		border-top: none;
// 		transition: transform 225ms cubic-bezier(0.4,0,0.2,1);
// 	}
// }

// .a-icon-after-down-hide\@mobile {
// 	@include breakpoint( mobile ) {
// 		display: block;

// 		&::after {
// 			display: none;
// 		}
// 	}
// }

// .a-icon-after-down--has-toggle {
// 	&::after {
// 		transform: scaleY(-0.85) translate(-50%,25%) rotate(45deg);
// 	}
// }
