// Generated css from larva-tokens/lib/generators.js

.lrv-a-font-primary-xl {
	--font-size-desktop: var( --primary-xl-font-size-desktop, var( --primary-xl-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --primary-xl-font-size-base);
	--line-height-desktop: var( --primary-xl-line-height-desktop, var( --primary-xl-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --primary-xl-line-height-base);
	--letter-spacing-desktop: var( --primary-xl-letter-spacing-desktop, var( --primary-xl-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --primary-xl-letter-spacing-base);
	--font-weight-desktop: var( --primary-xl-font-weight-desktop, var( --primary-xl-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --primary-xl-font-weight-base);
	--font-style-desktop: var( --primary-xl-font-style-desktop, var( --primary-xl-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --primary-xl-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--primary-xl-font-family: var( --font-family-primary );

	font-family: var( --primary-xl-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-primary-l {
	--font-size-desktop: var( --primary-l-font-size-desktop, var( --primary-l-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --primary-l-font-size-base);
	--line-height-desktop: var( --primary-l-line-height-desktop, var( --primary-l-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --primary-l-line-height-base);
	--letter-spacing-desktop: var( --primary-l-letter-spacing-desktop, var( --primary-l-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --primary-l-letter-spacing-base);
	--font-weight-desktop: var( --primary-l-font-weight-desktop, var( --primary-l-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --primary-l-font-weight-base);
	--font-style-desktop: var( --primary-l-font-style-desktop, var( --primary-l-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --primary-l-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--primary-l-font-family: var( --font-family-primary );

	font-family: var( --primary-l-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-primary-m {
	--font-size-desktop: var( --primary-m-font-size-desktop, var( --primary-m-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --primary-m-font-size-base);
	--line-height-desktop: var( --primary-m-line-height-desktop, var( --primary-m-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --primary-m-line-height-base);
	--letter-spacing-desktop: var( --primary-m-letter-spacing-desktop, var( --primary-m-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --primary-m-letter-spacing-base);
	--font-weight-desktop: var( --primary-m-font-weight-desktop, var( --primary-m-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --primary-m-font-weight-base);
	--font-style-desktop: var( --primary-m-font-style-desktop, var( --primary-m-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --primary-m-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--primary-m-font-family: var( --font-family-primary );

	font-family: var( --primary-m-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-primary-s {
	--font-size-desktop: var( --primary-s-font-size-desktop, var( --primary-s-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --primary-s-font-size-base);
	--line-height-desktop: var( --primary-s-line-height-desktop, var( --primary-s-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --primary-s-line-height-base);
	--letter-spacing-desktop: var( --primary-s-letter-spacing-desktop, var( --primary-s-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --primary-s-letter-spacing-base);
	--font-weight-desktop: var( --primary-s-font-weight-desktop, var( --primary-s-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --primary-s-font-weight-base);
	--font-style-desktop: var( --primary-s-font-style-desktop, var( --primary-s-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --primary-s-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--primary-s-font-family: var( --font-family-primary );

	font-family: var( --primary-s-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-primary-xs {
	--font-size-desktop: var( --primary-xs-font-size-desktop, var( --primary-xs-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --primary-xs-font-size-base);
	--line-height-desktop: var( --primary-xs-line-height-desktop, var( --primary-xs-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --primary-xs-line-height-base);
	--letter-spacing-desktop: var( --primary-xs-letter-spacing-desktop, var( --primary-xs-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --primary-xs-letter-spacing-base);
	--font-weight-desktop: var( --primary-xs-font-weight-desktop, var( --primary-xs-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --primary-xs-font-weight-base);
	--font-style-desktop: var( --primary-xs-font-style-desktop, var( --primary-xs-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --primary-xs-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--primary-xs-font-family: var( --font-family-primary );

	font-family: var( --primary-xs-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-primary-xxs {
	--font-size-desktop: var( --primary-xxs-font-size-desktop, var( --primary-xxs-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --primary-xxs-font-size-base);
	--line-height-desktop: var( --primary-xxs-line-height-desktop, var( --primary-xxs-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --primary-xxs-line-height-base);
	--letter-spacing-desktop: var( --primary-xxs-letter-spacing-desktop, var( --primary-xxs-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --primary-xxs-letter-spacing-base);
	--font-weight-desktop: var( --primary-xxs-font-weight-desktop, var( --primary-xxs-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --primary-xxs-font-weight-base);
	--font-style-desktop: var( --primary-xxs-font-style-desktop, var( --primary-xxs-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --primary-xxs-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--primary-xxs-font-family: var( --font-family-primary );

	font-family: var( --primary-xxs-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-primary-xxxs {
	--font-size-desktop: var( --primary-xxxs-font-size-desktop, var( --primary-xxxs-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --primary-xxxs-font-size-base);
	--line-height-desktop: var( --primary-xxxs-line-height-desktop, var( --primary-xxxs-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --primary-xxxs-line-height-base);
	--letter-spacing-desktop: var( --primary-xxxs-letter-spacing-desktop, var( --primary-xxxs-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --primary-xxxs-letter-spacing-base);
	--font-weight-desktop: var( --primary-xxxs-font-weight-desktop, var( --primary-xxxs-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --primary-xxxs-font-weight-base);
	--font-style-desktop: var( --primary-xxxs-font-style-desktop, var( --primary-xxxs-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --primary-xxxs-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--primary-xxxs-font-family: var( --font-family-primary );

	font-family: var( --primary-xxxs-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-secondary-l {
	--font-size-desktop: var( --secondary-l-font-size-desktop, var( --secondary-l-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --secondary-l-font-size-base);
	--line-height-desktop: var( --secondary-l-line-height-desktop, var( --secondary-l-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --secondary-l-line-height-base);
	--letter-spacing-desktop: var( --secondary-l-letter-spacing-desktop, var( --secondary-l-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --secondary-l-letter-spacing-base);
	--font-weight-desktop: var( --secondary-l-font-weight-desktop, var( --secondary-l-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --secondary-l-font-weight-base);
	--font-style-desktop: var( --secondary-l-font-style-desktop, var( --secondary-l-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --secondary-l-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--secondary-l-font-family: var( --font-family-secondary );

	font-family: var( --secondary-l-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-secondary-m {
	--font-size-desktop: var( --secondary-m-font-size-desktop, var( --secondary-m-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --secondary-m-font-size-base);
	--line-height-desktop: var( --secondary-m-line-height-desktop, var( --secondary-m-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --secondary-m-line-height-base);
	--letter-spacing-desktop: var( --secondary-m-letter-spacing-desktop, var( --secondary-m-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --secondary-m-letter-spacing-base);
	--font-weight-desktop: var( --secondary-m-font-weight-desktop, var( --secondary-m-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --secondary-m-font-weight-base);
	--font-style-desktop: var( --secondary-m-font-style-desktop, var( --secondary-m-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --secondary-m-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--secondary-m-font-family: var( --font-family-secondary );

	font-family: var( --secondary-m-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-secondary-s {
	--font-size-desktop: var( --secondary-s-font-size-desktop, var( --secondary-s-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --secondary-s-font-size-base);
	--line-height-desktop: var( --secondary-s-line-height-desktop, var( --secondary-s-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --secondary-s-line-height-base);
	--letter-spacing-desktop: var( --secondary-s-letter-spacing-desktop, var( --secondary-s-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --secondary-s-letter-spacing-base);
	--font-weight-desktop: var( --secondary-s-font-weight-desktop, var( --secondary-s-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --secondary-s-font-weight-base);
	--font-style-desktop: var( --secondary-s-font-style-desktop, var( --secondary-s-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --secondary-s-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--secondary-s-font-family: var( --font-family-secondary );

	font-family: var( --secondary-s-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-secondary-regular-m {
	--font-size-desktop: var( --secondary-regular-m-font-size-desktop, var( --secondary-regular-m-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --secondary-regular-m-font-size-base);
	--line-height-desktop: var( --secondary-regular-m-line-height-desktop, var( --secondary-regular-m-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --secondary-regular-m-line-height-base);
	--letter-spacing-desktop: var( --secondary-regular-m-letter-spacing-desktop, var( --secondary-regular-m-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --secondary-regular-m-letter-spacing-base);
	--font-weight-desktop: var( --secondary-regular-m-font-weight-desktop, var( --secondary-regular-m-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --secondary-regular-m-font-weight-base);
	--font-style-desktop: var( --secondary-regular-m-font-style-desktop, var( --secondary-regular-m-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --secondary-regular-m-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--secondary-regular-m-font-family: var( --font-family-secondary );

	font-family: var( --secondary-regular-m-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-accent-l {
	--font-size-desktop: var( --accent-l-font-size-desktop, var( --accent-l-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --accent-l-font-size-base);
	--line-height-desktop: var( --accent-l-line-height-desktop, var( --accent-l-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --accent-l-line-height-base);
	--letter-spacing-desktop: var( --accent-l-letter-spacing-desktop, var( --accent-l-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --accent-l-letter-spacing-base);
	--font-weight-desktop: var( --accent-l-font-weight-desktop, var( --accent-l-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --accent-l-font-weight-base);
	--font-style-desktop: var( --accent-l-font-style-desktop, var( --accent-l-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --accent-l-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--accent-l-font-family: var( --font-family-accent );

	font-family: var( --accent-l-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-accent-m {
	--font-size-desktop: var( --accent-m-font-size-desktop, var( --accent-m-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --accent-m-font-size-base);
	--line-height-desktop: var( --accent-m-line-height-desktop, var( --accent-m-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --accent-m-line-height-base);
	--letter-spacing-desktop: var( --accent-m-letter-spacing-desktop, var( --accent-m-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --accent-m-letter-spacing-base);
	--font-weight-desktop: var( --accent-m-font-weight-desktop, var( --accent-m-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --accent-m-font-weight-base);
	--font-style-desktop: var( --accent-m-font-style-desktop, var( --accent-m-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --accent-m-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--accent-m-font-family: var( --font-family-accent );

	font-family: var( --accent-m-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-accent-s {
	--font-size-desktop: var( --accent-s-font-size-desktop, var( --accent-s-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --accent-s-font-size-base);
	--line-height-desktop: var( --accent-s-line-height-desktop, var( --accent-s-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --accent-s-line-height-base);
	--letter-spacing-desktop: var( --accent-s-letter-spacing-desktop, var( --accent-s-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --accent-s-letter-spacing-base);
	--font-weight-desktop: var( --accent-s-font-weight-desktop, var( --accent-s-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --accent-s-font-weight-base);
	--font-style-desktop: var( --accent-s-font-style-desktop, var( --accent-s-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --accent-s-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--accent-s-font-family: var( --font-family-accent );

	font-family: var( --accent-s-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-accent-xs {
	--font-size-desktop: var( --accent-xs-font-size-desktop, var( --accent-xs-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --accent-xs-font-size-base);
	--line-height-desktop: var( --accent-xs-line-height-desktop, var( --accent-xs-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --accent-xs-line-height-base);
	--letter-spacing-desktop: var( --accent-xs-letter-spacing-desktop, var( --accent-xs-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --accent-xs-letter-spacing-base);
	--font-weight-desktop: var( --accent-xs-font-weight-desktop, var( --accent-xs-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --accent-xs-font-weight-base);
	--font-style-desktop: var( --accent-xs-font-style-desktop, var( --accent-xs-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --accent-xs-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--accent-xs-font-family: var( --font-family-accent );

	font-family: var( --accent-xs-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-accent-xxs {
	--font-size-desktop: var( --accent-xxs-font-size-desktop, var( --accent-xxs-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --accent-xxs-font-size-base);
	--line-height-desktop: var( --accent-xxs-line-height-desktop, var( --accent-xxs-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --accent-xxs-line-height-base);
	--letter-spacing-desktop: var( --accent-xxs-letter-spacing-desktop, var( --accent-xxs-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --accent-xxs-letter-spacing-base);
	--font-weight-desktop: var( --accent-xxs-font-weight-desktop, var( --accent-xxs-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --accent-xxs-font-weight-base);
	--font-style-desktop: var( --accent-xxs-font-style-desktop, var( --accent-xxs-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --accent-xxs-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--accent-xxs-font-family: var( --font-family-accent );

	font-family: var( --accent-xxs-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-accent-regular-xxs {
	--font-size-desktop: var( --accent-regular-xxs-font-size-desktop, var( --accent-regular-xxs-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --accent-regular-xxs-font-size-base);
	--line-height-desktop: var( --accent-regular-xxs-line-height-desktop, var( --accent-regular-xxs-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --accent-regular-xxs-line-height-base);
	--letter-spacing-desktop: var( --accent-regular-xxs-letter-spacing-desktop, var( --accent-regular-xxs-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --accent-regular-xxs-letter-spacing-base);
	--font-weight-desktop: var( --accent-regular-xxs-font-weight-desktop, var( --accent-regular-xxs-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --accent-regular-xxs-font-weight-base);
	--font-style-desktop: var( --accent-regular-xxs-font-style-desktop, var( --accent-regular-xxs-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --accent-regular-xxs-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--accent-regular-xxs-font-family: var( --font-family-accent );

	font-family: var( --accent-regular-xxs-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-body-m {
	--font-size-desktop: var( --body-m-font-size-desktop, var( --body-m-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --body-m-font-size-base);
	--line-height-desktop: var( --body-m-line-height-desktop, var( --body-m-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --body-m-line-height-base);
	--letter-spacing-desktop: var( --body-m-letter-spacing-desktop, var( --body-m-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --body-m-letter-spacing-base);
	--font-weight-desktop: var( --body-m-font-weight-desktop, var( --body-m-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --body-m-font-weight-base);
	--font-style-desktop: var( --body-m-font-style-desktop, var( --body-m-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --body-m-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--body-m-font-family: var( --font-family-body );

	font-family: var( --body-m-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}

.lrv-a-font-body-s {
	--font-size-desktop: var( --body-s-font-size-desktop, var( --body-s-font-size-base ) );
	--font-size-base: var(--desktop-off) var( --body-s-font-size-base);
	--line-height-desktop: var( --body-s-line-height-desktop, var( --body-s-line-height-base ) );
	--line-height-base: var(--desktop-off) var( --body-s-line-height-base);
	--letter-spacing-desktop: var( --body-s-letter-spacing-desktop, var( --body-s-letter-spacing-base ) );
	--letter-spacing-base: var(--desktop-off) var( --body-s-letter-spacing-base);
	--font-weight-desktop: var( --body-s-font-weight-desktop, var( --body-s-font-weight-base ) );
	--font-weight-base: var(--desktop-off) var( --body-s-font-weight-base);
	--font-style-desktop: var( --body-s-font-style-desktop, var( --body-s-font-style-base ) );
	--font-style-base: var(--desktop-off) var( --body-s-font-style-base);

	// Define this token locally; it can be defined via larva-tokens, if needed in the future.
	--body-s-font-family: var( --font-family-body );

	font-family: var( --body-s-font-family );

	font-size: var(
		--font-size-base,
		var(--font-size-desktop)
	);
	line-height: var(
		--line-height-base,
		var(--line-height-desktop)
	);
	letter-spacing: var(
		--letter-spacing-base,
		var(--letter-spacing-desktop)
	);
	font-weight: var(
		--font-weight-base,
		var(--font-weight-desktop)
	);
	font-style: var(
		--font-style-base,
		var(--font-style-desktop)
	);
}
