@import 'setup';

.lrv-a-icon-after-remove\@tablet::after {
	@include pmc-breakpoint( tablet ) {
		display: none;
	}
}

.lrv-a-icon-invert {
	--a-icon-filter: invert(1);
}

// Specific Icons
// Anything referencing the sprite, should be loaded async.

.lrv-a-icon-arrow-left,
.lrv-a-icon-arrow-right,
.lrv-a-icon-arrow-down,
.lrv-a-icon-arrow-up {
	--a-icon-url: url( #{$ICONS_BUILD_PATH + '/sprite.stack.svg#arrow'} );
	--a-icon-height: #{ $font-size-12 };
}

.lrv-a-icon-arrow-right {
	--a-icon-transform: rotate(-90deg);
}

.lrv-a-icon-arrow-left {
	--a-icon-transform: rotate(90deg);
}

.lrv-a-icon-envelope {
	--a-icon-url: url( #{$ICONS_BUILD_PATH + '/sprite.stack.svg#envelope'} );
}

.lrv-a-icon-search {
	--a-icon-url: url( #{$ICONS_BUILD_PATH + '/sprite.stack.svg#search'} );
}
