// Flex
//
// Utility patterns can be either atomic utilities (single classes applying properties and values)
// or more fully-featured utilities such as the `u-grid` or `u-bg-dots` that provide a means of
// grouping related declarations and applying variations.
//
// **Naming:** `.u-flex-[property]-[value]`
//
// .pmc-u-flex - Display flex.
// .pmc-u-flex-direction-column - Flex direction column.
// .pmc-u-flex-justify-content-center - Justify content center.
// .pmc-u-flex-align-items-start - Align items start.
// .pmc-u-flex-order-n1 - Order -1.
//
// Style guide: Utilities.Flex

.pmc-u-flex {
	display: flex;
}

.pmc-u-flex-direction-column {
	flex-direction: column;
}

.pmc-u-flex-justify-content-center {
	justify-content: center;
}

.pmc-u-flex-align-items-start {
	align-items: flex-start;
}

.pmc-u-flex-wrap-wrap {
	flex-wrap: wrap;
}