// Title
//
// Markup: c-title.twig
//
// Style guide: Components.Text.Title

@import '@setup';

@mixin _c-title--overlay-title {
	margin-top: -$spacer-2;
	position: relative;
}

.c-title {
	font-weight: $font-weight-bold;
}

.c-title__before {
	color: map-get( $semantic-color-list, brand-red );
}

.c-title--overlay-title {
	@include _c-title--overlay-title;
}

.c-title--overlay-title\@desktop {
	@include breakpoint( desktop ) {
		@include _c-title--overlay-title;
	}
}
