@import 'setup';

$sizes: ( 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100 );
$type: '%';

@each $size in $sizes {
	
	$per : #{$size}#{'%'};
	
	.lrv-a-flex-basis-#{$size}p\@desktop {
		
		@include pmc-breakpoint( desktop ) {
			flex-basis: $per;
		}
	}

	.lrv-a-flex-basis-#{$size}p\@desktop-xl {
		
		@include pmc-breakpoint( desktop-xl ) {
			flex-basis: $per;
		}
	}

	.lrv-a-flex-basis-#{$size}p\@mobile-max {
		
		@include pmc-breakpoint( mobile-max ) {
			flex-basis: $per;
		}
	}
}