@import '@penskemediacorp/larva-scss/dist/generators';
@import '@penskemediacorp/larva-scss/dist/tokens';

$color_list: (
	white: white,
);

@include pmc-u-background( (
	white,
	black,
), $semantic-color-list );


.pmc-u-background-brand-primary,
.pmc-u-background-brand-primary\:hover:hover {
	background-color: map-get( $semantic-color-list, brand-primary );
	background-color: var( --color-brand-primary );
}

.pmc-u-background-grey-lightest {
	background-color: map-get( $semantic-color-list, grey-lightest );
	background-color: var( --color-grey-lightest );
}

.pmc-u-background-grey-light {
	background-color: map-get( $semantic-color-list, grey-light );
	background-color: var( --color-grey-light );
}
