@import 'setup';

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	// example: color-grey-lightest, #EEEEEE
	// All colors come from -color tokens. No more XX-colors tokens.
	@if str-index( $token-str, 'background-color' ) {

		.lrv-u-#{$token}\:hover:hover {
			background-color: $value;
			background-color: var( --#{$token}, #{$value} );
		}
	}
}

