@import 'setup';

@if true == map-get( $features, utilities-v2 ) {

	@each $token, $value in $TOKENS-MAP {
		$token-str: quote( $token );

		@if str-index( $token-str, 'background-color' ) {

			.lrv-u-#{$token} {
				background-color: $value;
				background-color: var( --#{$token}, #{$value} );
			}

			.lrv-u-#{$token}\@desktop {
				@include pmc-breakpoint( desktop ) {
					background-color: $value;
					background-color: var( --#{$token}, #{$value} );
				}
			}
		}
	}
}