@import 'setup';

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if str-index( $token-str, 'background-color' ) {

		.lrv-u-#{$token} {
			background-color: $value;
			background-color: var( --#{$token}, #{$value} );
		}
	}
}

//
// Static Utilities
//

.lrv-u-background-color-transparent {
	background-color: transparent;
}

// Media Queries

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if str-index( $token-str, 'background-color' ) {

		.lrv-u-#{$token}\@desktop {
			@include pmc-breakpoint( desktop ) {
				background-color: $value;
				background-color: var( --#{$token}, #{$value} );
			}
		}
	}
}