.lrv-u-border-radius-50p {
	border-radius: 50%;
}

.lrv-u-border-radius-5 {
	border-radius: 5px;
}

.lrv-u-border-br-radius-5 {
	border-bottom-right-radius: 5px;
}

.lrv-u-border-bl-radius-5 {
	border-bottom-left-radius: 5px;
}

.lrv-u-border-tr-radius-5 {
	border-top-right-radius: 5px;
}

.lrv-u-border-tl-radius-5 {
	border-top-left-radius: 5px;
}
