
.lrv-u-align-items-center {
	align-items: center;
}

.lrv-u-justify-content-center {
	justify-content: center;
}

.lrv-u-justify-content-space-evenly {
	justify-content: space-evenly;
}

.lrv-u-justify-content-space-between {
	justify-content: space-between;
}

