@import 'setup';

.lrv-u-border-color-grey-light {
	border-color: #{map-get( $semantic-color-list, grey-medium-light )};
	border-color: var( --color-grey-light );
}

.lrv-u-border-color-grey {
	border-color: #{map-get( $semantic-color-list, grey )};
	border-color: var( --color-grey );
}

.lrv-u-border-color-white {
	border-color: #{map-get( $semantic-color-list, white )};
}

.lrv-u-border-color-currentColor {
	border-color: currentColor;
}