@import 'setup';

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	// example: box-shadow, 0 0 2px rgba(0,0,0,0.5)
	@if str-index( $token-str, 'box-shadow' ) {
		.lrv-u-#{$token} {
			box-shadow: $value;
			box-shadow: var( --#{$token}, #{$value} );
		}
	}
}


@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	// example: box-shadow, 0 0 2px rgba(0,0,0,0.5)
	@if str-index( $token-str, 'box-shadow' ) {

		@include pmc-breakpoint( desktop ) {

			.lrv-u-#{$token}\@desktop {
				box-shadow: $value;
				box-shadow: var( --#{$token}, #{$value} );
			}
		}
	}
}

// Legacy Utility

.lrv-u-box-shadow-medium\@tablet {
	@include pmc-breakpoint( tablet ) {
		box-shadow: 0 -0.313rem 0.313rem rgba( 0, 0, 0, 0.15 );
	}
}
