.lrv-u-border-radius-50p {
	border-radius: 50%;
}

.lrv-u-border-radius-100 {
	border-radius: 100px;
}

.lrv-u-border-radius-5 {
	border-radius: 5px;
}

.lrv-u-border-radius-br-5 {
	border-bottom-right-radius: 5px;
}

.lrv-u-border-radius-bl-5 {
	border-bottom-left-radius: 5px;
}

.lrv-u-border-radius-tr-5 {
	border-top-right-radius: 5px;
}

.lrv-u-border-radius-tl-5 {
	border-top-left-radius: 5px;
}
