@import 'setup';

$colors: (
	color-white,
	color-grey-light,
	color-grey,
	color-grey-dark,
	color-brand-primary,
	color-black,
);

@include token-utility-generator( 'color', $colors, $TOKENS-MAP );

.lrv-u-color-currentColor {
	color: currentColor;
}

.lrv-u-color-white\:hover:hover {
	color: map-get( $TOKENS-MAP, color-white );
}

.lrv-u-color-grey-light\:hover:hover {
	color: map-get( $TOKENS-MAP, color-grey-light );
}

.lrv-u-color-grey-dark\:hover:hover {
	color: map-get( $TOKENS-MAP, color-grey-dark );
}
