@import 'setup';

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	// example: color-grey-lightest, #EEEEEE
	@if str-index( $token-str, 'color' )
		and not str-index( $token-str, 'background' )
		and not str-index( $token-str, 'border' ) {

		.lrv-u-#{$token}\:hover:hover {
			color: $value;
			color: var( --#{$token}, #{$value} );
		}
	}
}


// Static Utilities

.lrv-u-color-currentColor {
	color: currentColor;
}

.lrv-u-color-transparent {
	color: transparent;
}