@import '@penskemediacorp/larva-scss/dist/tokens';

.pmc-u-color-grey-light {
	color: #{map-get( $semantic-color-list, grey-medium-light )};
	color: var( --color-grey-light );
}

.pmc-u-color-grey-light\:hover:hover {
	color: #{map-get( $semantic-color-list, grey-medium-light )};
	color: var( --color-grey-light );
}

.pmc-u-color-grey {
	color: #{map-get( $semantic-color-list, grey )};
	color: var( --color-grey );
}

.pmc-u-color-grey-medium-dark {
	color: #{map-get( $semantic-color-list, grey-medium-dark )};
	color: var( --color-grey-medium-dark );
}

.pmc-u-color-white {
	color: map-get( $semantic-color-list, white );
}

.pmc-u-color-white\:hover:hover {
	color: map-get( $semantic-color-list, white );
}

.pmc-u-color-currentColor {
	color: currentColor;
}