@import '@penskemediacorp/larva-scss/dist/tokens';

.u-color-grey-light {
	color: #{map-get( $semantic-color-list, grey-medium-light )};
	color: var( --color-grey-light );
}

.u-color-grey {
	color: #{map-get( $semantic-color-list, grey )};
	color: var( --color-grey );
}

.u-color-grey-medium-dark {
	color: #{map-get( $semantic-color-list, grey-medium-dark )};
	color: var( --color-grey-medium-dark );
}

.u-color-white {
	color: map-get( $semantic-color-list, white );
}

.u-color-brand-primary {
	color: #{map-get( $semantic-color-list, brand-primary )};
	color: var( --color-brand-primary );
}

.u-color-currentColor {
	color: currentColor;
}

.u-color-white\:hover:hover {
	color: map-get( $semantic-color-list, white );
}

.u-color-grey-light\:hover:hover {
	color: #{map-get( $semantic-color-list, grey-light )};
	color: var( --color-grey-light );
}

.u-color-grey-dark\:hover:hover {
	color: #{map-get( $semantic-color-list, grey-dark )};
	color: var( --color-grey-dark );
}
