@import '@penskemediacorp/larva-scss/dist/tools';

.lrv-u-flex {
	display: flex;
}

.lrv-u-flex\@tablet {

	@include pmc-breakpoint( tablet ) {
		display: flex;
	}
}

.lrv-u-flex-grow-1 {
	flex-grow: 1;
}

.lrv-u-flex-shrink-0 {
	flex-shrink: 0;
}

.lrv-u-flex-direction-column {
	flex-direction: column;
}

.lrv-u-flex-direction-column\@mobile-max {

	@include pmc-breakpoint( mobile-max ) {
		flex-direction: column;
	}
}