@import 'setup';

$flex_basis: ( 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100 );
$breakpoints: (
	'',
	'mobile-max',
	'desktop',
	'desktop-xl'
);

.lrv-u-flex {
	display: flex;
}

.lrv-u-flex-grow-1 {
	flex-grow: 1;
}

.lrv-u-flex-shrink-0 {
	flex-shrink: 0;
}

.lrv-u-flex-wrap-wrap {
	flex-wrap: wrap;
}

.lrv-u-flex-direction-column {
	flex-direction: column;
}

@include pmc-breakpoint( desktop ) {

	.lrv-u-flex\@desktop {
		display: flex;
	}

	.lrv-u-flex-grow-1\@desktop {
		flex-grow: 1;
	}

	.lrv-u-flex-shrink-0\@desktop {
		flex-shrink: 0;
	}

	.lrv-u-flex-wrap-wrap\@desktop {
		flex-wrap: wrap;
	}

	.lrv-u-flex-direction-column\@desktop {
		flex-direction: column;
	}

}

// Legacy - should not use @tablet and @mobile-max

.lrv-u-flex\@tablet {

	@include pmc-breakpoint( tablet ) {
		display: flex;
	}
}

.lrv-u-flex\@desktop-max {

	@include pmc-breakpoint( desktop-max ) {
		display: flex;
	}
}

.lrv-u-flex\@desktop-xl-max {
	@include pmc-breakpoint( desktop-xl-max ) {
		display: flex;
	}
}

.lrv-u-flex-direction-row-reverse\@desktop-xl-max {
	@include pmc-breakpoint( desktop-xl-max ) {
		flex-direction: row-reverse;
	}
}

.lrv-u-flex-direction-row-reverse {
	flex-direction: row-reverse;
}

.lrv-u-flex-direction-row\@desktop-xl {
	@include pmc-breakpoint( desktop-xl ) {
		flex-direction: row;
	}
}

.lrv-u-flex-direction-column\@tablet {

	@include pmc-breakpoint( tablet ) {
		flex-direction: column;
	}
}

.lrv-u-flex-direction-column\@mobile-max {

	@include pmc-breakpoint( mobile-max ) {
		flex-direction: column;
	}
}

.lrv-u-flex-direction-column\@desktop-max {
	@include pmc-breakpoint(desktop-max) {
		flex-direction: column;
	}
}

.lrv-u-flex-direction-column\@desktop-xl {
	@include pmc-breakpoint( desktop-xl ) {
		flex-direction: column;
	}
}

.lrv-u-flex-direction-column\@desktop-xl-max {
	@include pmc-breakpoint(desktop-xl-max) {
		flex-direction: column;
	}
}

.lrv-u-flex-wrap-wrap\@mobile-max {
	@include pmc-breakpoint(mobile-max) {
		flex-wrap: wrap;
	}
}

.lrv-u-flex-direction-column-reverse\@mobile-max {
	@include pmc-breakpoint(mobile-max) {
		flex-direction: column-reverse;
	}
}

.lrv-u-flex-basis-100p\@desktop-xl-max {
	@include pmc-breakpoint( desktop-xl-max ) {
		flex-basis: 100%;
	}
}

.lrv-u-flex-basis-75p\@tablet {
	@include pmc-breakpoint( tablet ) {
		flex-basis: 75%;
	}
}

.lrv-u-flex-shrink-0\@mobile-max {
	@include pmc-breakpoint( mobile-max ) {
		flex-shrink: 0;
	}
}

@each $breakpoint in $breakpoints {

	@each $size in $flex_basis {
		$per : #{$size}#{'%'};

		@if '' == $breakpoint {
			// No breakpoint
			.lrv-u-flex-basis-#{$size}p {
				flex-basis: $per;
			}
		} @else {
			@include pmc-breakpoint( #{$breakpoint} ) {
				.lrv-u-flex-basis-#{$size}p\@#{$breakpoint} {
					flex-basis: $per;
				}
			}
		}

	} // end flex loop

} // end breakpoints loop
