@import 'setup';

.lrv-u-font-family-primary {
	font-family: map-get( $TOKENS-MAP, font-family-primary );
	font-family: var( --font-family-primary, #{map-get( $TOKENS-MAP, font-family-primary )} );
}

.lrv-u-font-family-secondary {
	font-family: map-get( $TOKENS-MAP, font-family-secondary );
	font-family: var( --font-family-secondary, #{map-get( $TOKENS-MAP, font-family-secondary  )} );
}

.lrv-u-font-family-basic {
	font-family: map-get( $TOKENS-MAP, font-family-basic );
	font-family: var( --font-family-basic, #{map-get( $TOKENS-MAP, font-family-basic )} );
}
