@import 'setup';

$warned-font-weight: false;

@each $token, $value in $TOKENS-MAP {

	@if $warned-font-weight == false {
		@warn 'Font weight tokens are deprecated. Please use a-font.';
		$warned-font-weight: true;
	}

	$token-str: quote( $token );

	@if str-index( $token-str, 'font-weight' ) and $value != '' {
		.lrv-u-#{$token} {
			font-weight: $value;
		}
	}
}


//
// Media Queries
//

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if str-index( $token-str, 'font-weight' ) and not str-index( $token-str, '-font-weight-' ) {

		@include pmc-breakpoint( desktop ) {
			.lrv-u-#{$token}\@desktop {
				font-weight: $value;
			}
		}
	}
}

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if str-index( $token-str, 'font-weight' ) and not str-index( $token-str, '-font-weight-' ) {

		@include pmc-breakpoint( desktop-xl ) {
			.lrv-u-#{$token}\@desktop-xl {
				font-weight: $value;
			}
		}
	}
}