@import 'setup';

$warned-font-family: false;

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if $warned-font-family == false {
		@warn 'Font family utilities will be will be deprecated. Please set up a-font using a style guide.';
		$warned-font-family: true;
	}

	// example: font-family-primary-fancy, 'Graphik', sans-serif
	// example: font-family-primary, Helvetica
	@if str-index( $token-str, 'font-family' ) and not str-index( $token-str, '-font-family-' ) {

		// The webfont/'fancy' variation is added via custom property
		// in generic/typography
		@if not str-index( $token-str, 'fancy' ) {
			.lrv-u-#{$token} {
				font-family: $value;
				font-family: var( --#{$token}, #{$value} );
			}
		}
	}
}

//
// Media Queries
//


@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if str-index( $token-str, 'font-family' ) and not str-index( $token-str, '-font-family-' ) {

		@if not str-index( $token-str, 'fancy' ) {

			.lrv-u-#{$token}\@desktop {
				font-family: $value;
				font-family: var( --#{$token}, #{$value} );
			}
		}
	}
}