@import 'setup';

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if str-index( $token-str, 'font-weight' ) {
		.lrv-u-#{$token} {
			font-weight: $value;
		}
	}
}


//
// Media Queries
//

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if str-index( $token-str, 'font-weight' ) {

		@include pmc-breakpoint( desktop ) {
			.lrv-u-#{$token}\@desktop {
				font-weight: $value;
			}
		}
	}
}

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if str-index( $token-str, 'font-weight' ) {

		@include pmc-breakpoint( desktop-xl ) {
			.lrv-u-#{$token}\@desktop-xl {
				font-weight: $value;
			}
		}
	}
}