// TODO: 
// The pmc-u-font-family generator can be used for brands that need A-grade support for IE11,
// and a PostCSS script can be created to include the basic generator verison according to 
// configuraiton in larva.config.js.

.wf-active {
	--font-family-primary: var( --font-family-primary-fancy );
	--font-family-secondary: var( --font-family-secondary-fancy );
}

.lrv-u-font-family-primary {
	font-family: var( --font-family-primary );
}

.lrv-u-font-family-secondary {
	font-family: var( --font-family-secondary );
}

.lrv-u-font-family-basic {
	font-family: Helvetica, sans-serif;
	font-family: var( --font-family-basic );
}