@import '@penskemediacorp/larva-scss/dist/tools';

.lrv-u-height-100p {
	height: 100%;
}

.lrv-u-height-auto {
	height: auto;
}

.lrv-u-max-height-50 {
	max-height: pmc-rem(50);
}

.lrv-u-height-16 {
	height: pmc-rem(16);
}
