@import 'setup';

$warned-line-height: false;

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if $warned-line-height == false {
		@warn 'Line height utilities will be will be deprecated. Please set up a-font using a style guide.';
		$warned-line-height: true;
	}

	@if str-index( $token-str, 'line-height' ) and not str-index( $token-str, '-line-height-' ) {
		.lrv-u-#{$token} {
			line-height: $value;
		}
	}
}

//
// Media Queries
//


@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if str-index( $token-str, 'line-height' ) and not str-index( $token-str, '-line-height-' ) {

		@include pmc-breakpoint( desktop ) {
			.lrv-u-#{$token}\@desktop {
				line-height: $value;
			}
		}
	}
}

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if str-index( $token-str, 'line-height' ) and not str-index( $token-str, '-line-height-' ) {

		@include pmc-breakpoint( desktop-xl ) {
			.lrv-u-#{$token}\@desktop-xl {
				line-height: $value;
			}
		}
	}
}
