@import 'setup';

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if str-index( $token-str, 'line-height' ) {
		.lrv-u-#{$token} {
			line-height: $value;
		}
	}
}

//
// Media Queries
//


@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if str-index( $token-str, 'line-height' ) {

		@include pmc-breakpoint( desktop ) {
			.lrv-u-#{$token}\@desktop {
				line-height: $value;
			}
		}
	}
}

@each $token, $value in $TOKENS-MAP {
	$token-str: quote( $token );

	@if str-index( $token-str, 'line-height' ) {

		@include pmc-breakpoint( desktop-xl ) {
			.lrv-u-#{$token}\@desktop-xl {
				line-height: $value;
			}
		}
	}
}
