@import 'setup';

.lrv-u-max-width-100p {
	max-width: 100%;
}

.lrv-u-max-width-80p {
	max-width: 80%;
}

.lrv-u-max-width-100vw {
	max-width: 100vw;
}

.lrv-u-max-width-150 {
	max-width: pmc-rem(150);
}

.lrv-u-max-width-250 {
	max-width: pmc-rem(250);
}

.lrv-u-max-width-500 {
	max-width: pmc-rem(500);
}

.lrv-u-max-width-1000 {
	max-width: pmc-rem(1000);
}

.lrv-u-max-width-66p\@desktop {
	@include pmc-breakpoint(desktop) {
		max-width: 66%;
	}
}
