@import '@penskemediacorp/larva-scss/dist/tools';

.lrv-u-order-n1 {
	order: -1;
}

.lrv-u-order-100 {
	order: 100;
}

@include pmc-breakpoint( desktop ) {

	.lrv-u-order-n1\@desktop {
		order: -1;
	}

	.lrv-u-order-100\@desktop {
		order: 100;
	}
}

.lrv-u-order-n1\@mobile-max {

	@include pmc-breakpoint( mobile-max ) {
		order: -1;
	}
}

// Legacy - should not use mobile-max
.lrv-u-order-100\@mobile-max {

	@include pmc-breakpoint( mobile-max ) {
		order: 100;
	}
}
