@import 'setup';

.lrv-u-overflow-auto {
	overflow: auto;
}

.lrv-u-overflow-x-auto {
	overflow-x: auto;
}

.lrv-u-overflow-y-auto {
	overflow-y: auto;
}

.lrv-u-overflow-hidden {
	overflow: hidden;
}

.lrv-u-overflow-auto\@mobile-max {
	@include pmc-breakpoint( mobile-max ) {
		overflow: auto;
	}
}

.lrv-u-overflow-wrap-break-word {
	overflow-wrap: break-word;
}
