@import 'setup';

$breakpoints: (
	'',
	'mobile-max',
	'desktop',
	'desktop-xl'
);

.lrv-u-padding-t-150\@tablet {
	@include pmc-breakpoint( tablet ) {
		padding-top: $spacer-150;
	}
}

@mixin _u-padding( $token-name, $token-selector, $value, $breakpoint-suffix: '' ) {

	.lrv-u-padding-r-#{$token-selector}#{$breakpoint-suffix} {
		padding-right: $value;
		padding-right: var( --#{$token-name}, #{$value} );
	}

	.lrv-u-padding-l-#{$token-selector}#{$breakpoint-suffix} {
		padding-left: $value;
		padding-left: var( --#{$token-name}, #{$value} );
	}

	.lrv-u-padding-b-#{$token-selector}#{$breakpoint-suffix} {
		padding-bottom: $value;
		padding-bottom: var( --#{$token-name}, #{$value} );
	}

	.lrv-u-padding-t-#{$token-selector}#{$breakpoint-suffix} {
		padding-top: $value;
		padding-top: var( --#{$token-name}, #{$value} );
	}

	.lrv-u-padding-tb-#{$token-selector}#{$breakpoint-suffix} {
		padding-top: $value;
		padding-top: var( --#{$token-name}, #{$value} );
		padding-bottom: $value;
		padding-bottom: var( --#{$token-name}, #{$value} );
	}

	.lrv-u-padding-lr-#{$token-selector}#{$breakpoint-suffix} {
		padding-left: $value;
		padding-left: var( --#{$token-name}, #{$value} );
		padding-right: $value;
		padding-right: var( --#{$token-name}, #{$value} );
	}

	.lrv-u-padding-a-#{$token-selector}#{$breakpoint-suffix} {
		padding: $value;
		padding: var( --#{$token-name}, #{$value} );
	}
}

@each $breakpoint in $breakpoints {

	@each $token, $value in $TOKENS-MAP {

		$token-str: quote( $token );

		// No negative spacing for padding
		@if str-index( $token-str, 'spacing' ) and not str-index( $token-str, 'spacing-n' ) and not str-index( $token-str, 'letter-spacing' ) {

			$token-name: $token;
			$token-selector: str-replace( $token-str, 'spacing-', '' );

			@if '' == $breakpoint {
				@include _u-padding( $token-name, $token-selector, $value );
			} @else {

				$breakpoint-suffix: '\\@#{$breakpoint}';

				@include pmc-breakpoint( $breakpoint ) {
					@include _u-padding( $token-name, $token-selector, $value, $breakpoint-suffix );
				}
			}

		}
	}
}


// Legacy - should not have tablet and mobile-max
$paddings_with_breakpoints: (
	('l', $spacer-3 ),

	('tb', $spacer-025, mobile-max ),
	('tb', $spacer-1, mobile-max),

	('t', $spacer-075, tablet ),
	('b', $spacer-075, tablet ),
	('r', $spacer-1, tablet ),
	('r', $spacer-2, tablet ),
	('l', $spacer-2, tablet ),
	('b', $spacer-3, tablet ),
	('t', $spacer-050, tablet ),
	('lr', $spacer-1, tablet ),

	('tb', $spacer-050, desktop-max),
);

@include u-padding( $paddings_with_breakpoints, $NAMESPACE: 'lrv-' );

.lrv-u-padding-b-150\@desktop-xl-max {
	@include pmc-breakpoint( desktop-xl-max ) {
		padding-bottom: $spacer-150;
	}
}

.lrv-u-padding-b-150\@tablet {
	@include pmc-breakpoint( tablet ) {
		padding-bottom: $spacer-150;
	}
}

.lrv-u-padding-t-175\@tablet {
	@include pmc-breakpoint( tablet ) {
		padding-top: $spacer-175;
	}
}

.lrv-u-padding-tb-175\@desktop {
	@include pmc-breakpoint( desktop ) {
		padding-top: $spacer-175;
		padding-bottom: $spacer-175;
	}
}

.lrv-u-padding-t-175\@desktop-xl-max {
	@include pmc-breakpoint( desktop-xl-max ) {
		padding-top: $spacer-175;
	}
}

.lrv-u-padding-t-150\@desktop-xl-max {
	@include pmc-breakpoint( desktop-xl-max ) {
		padding-top: $spacer-150;
	}
}

.lrv-u-padding-b-3\@desktop-xl {
	@include pmc-breakpoint( desktop-xl ) {
		padding-bottom: $spacer-3;
	}
}

.lrv-u-padding-t-175\@desktop-xl {
	@include pmc-breakpoint( desktop-xl ) {
		padding-top: $spacer-175;
	}
}

.lrv-u-padding-tb-250\@desktop-xl {
	@include pmc-breakpoint( desktop-xl ) {
		padding-top: $spacer-250;
		padding-bottom: $spacer-250;
	}
}

.lrv-u-padding-t-250\@desktop-xl {
	@include pmc-breakpoint( desktop-xl ) {
		padding-top: $spacer-250;
	}
}