@import 'setup';

.lrv-u-position-relative {
	position: relative;
}

.lrv-u-position-absolute {
	position: absolute;
}

@include pmc-breakpoint( desktop ) {
	.lrv-u-position-absolute\@desktop {
		position: absolute;
	}	
}

@include pmc-breakpoint(tablet) {
	.lrv-u-position-absolute\@tablet {
		position: absolute;
	}
}
