.lrv-u-text-transform-uppercase {
	text-transform: uppercase;
}

.lrv-u-text-transform-initial {
	text-transform: initial;
}

.lrv-u-text-transform-lowercase {
	text-transform: lowercase;
}

.lrv-u-text-transform-capitalize {
	text-transform: capitalize;
}
