@import '@penskemediacorp/larva-scss/dist/tools';

.u-text-align-center {
	text-align: center;
}

.u-text-align-center\@mobile-max {
	@include pmc-breakpoint( mobile-max ) {
		text-align: center;
	}
}

.u-text-align-center\@tablet {
	@include pmc-breakpoint( tablet ) {
		text-align: center;
	}
}