@import '@penskemediacorp/larva-scss/dist/tools';

.lrv-u-text-decoration-underline {
	text-decoration: underline;
	text-decoration-color: currentColor;
}

.lrv-u-text-decoration-underline\:hover:hover {
	text-decoration: underline;
	text-decoration-color: currentColor;
}

.lrv-u-text-decoration-line-through {
	text-decoration: line-through;
	text-decoration-color: currentColor;
}
