@import 'setup';

$widths_map: (
	'width-30p': 30%,
	'width-100p': 100%,
	'width-16': pmc-rem(16),
);

@include basic-utility-generator( 'width', (
	width-30p,
	width-100p,
	width-16,
), $widths_map );

.lrv-u-max-width-100p {
	max-width: 100%;
}

.lrv-u-width-100p\@mobile-max {

	@include pmc-breakpoint( mobile-max ) {
		width: 100%;
	}
}

.lrv-u-max-width-150 {
	max-width: pmc-rem(150);
}