@import 'setup';

$widths_map: (
	'width-auto': auto,
	'width-16': pmc-rem(16),
	'width-24': pmc-rem(24),
	'width-30': pmc-rem(30),
	'width-50': pmc-rem(50),
	'width-100': pmc-rem(100),
	'width-150': pmc-rem(150),
	'width-185': pmc-rem(185),
	'width-165': pmc-rem(165),
	'width-200': pmc-rem(200),
	'width-215': pmc-rem(215),
	'width-245': pmc-rem(245),
	'width-300': pmc-rem(300),
	'width-20p': 20%,
	'width-25p': 25%,
	'width-22p': 22%,
	'width-30p': 30%,
	'width-50p': 50%,
	'width-70p': 70%,
	'width-75p': 75%,
	'width-100p': 100%,
);

@include basic-utility-generator( 'width', (
	width-auto,
	width-16,
	width-24,
	width-30,
	width-50,
	width-100,
	width-150,
	width-185,
	width-165,
	width-200,
	width-215,
	width-245,
	width-300,
	width-20p,
	width-22p,
	width-25p,
	width-30p,
	width-50p,
	width-70p,
	width-75p,
	width-100p,
), $widths_map, $NAMESPACE: 'lrv-' );

.lrv-u-width-35\@mobile-max {
	@include pmc-breakpoint( mobile-max ) {
		width: pmc-rem(35);
	}
}

.lrv-u-width-100\@mobile-max {
	@include pmc-breakpoint( mobile-max ) {
		width: pmc-rem(100);
	}
}

.lrv-u-width-100p\@mobile-max {
	@include pmc-breakpoint( mobile-max ) {
		width: 100%;
	}
}

.lrv-u-width-150\@desktop {
	@include pmc-breakpoint( desktop ) {
		width: pmc-rem(150);
	}
}

.lrv-u-width-38p\@desktop {
	@include pmc-breakpoint( desktop ) {
		width: 38%;
	}
}

.lrv-u-width-50p\@desktop {
	@include pmc-breakpoint( desktop ) {
		width: 50%;
	}
}

.lrv-u-width-75p\@desktop {
	@include pmc-breakpoint( desktop ) {
		width: 75%;
	}
}

.lrv-u-width-100\@desktop-xl {
	@include pmc-breakpoint( desktop-xl ) {
		width: pmc-rem(100);
	}
}

.lrv-u-width-154\@desktop-xl {

	@include pmc-breakpoint(desktop-xl) {
		width: pmc-rem(154);
	}
}

.lrv-u-width-177\@tablet-and-desktop-only {

	@media only screen and (max-width: $screen-desktop-xl) and (min-width: $screen-tablet) {
		width: pmc-rem(177);
	}
}

.lrv-u-width-36p\@desktop-xl {

	@include pmc-breakpoint(desktop-xl) {
		width: 36%;
	}
}

.lrv-u-width-64p\@desktop-xl {

    @include pmc-breakpoint(desktop-xl) {
        width: 64%;
    }
}

.lrv-u-width-27p\@tablet {

	@include pmc-breakpoint(tablet) {
		width: 27%;
	}
}

.lrv-u-width-23p\@tablet {

	@include pmc-breakpoint(tablet) {
		width: 23%;
	}
}

.lrv-u-width-25p\@tablet {

	@include pmc-breakpoint(tablet) {
		width: 25%;
	}
}

.lrv-u-width-52p\@tablet {

	@include pmc-breakpoint(tablet) {
		width: 52%;
	}
}

.lrv-u-width-50p\@mobile-max {
	@include pmc-breakpoint(mobile-max) {
		width: 50%;
	}
}

.lrv-u-width-33p\@mobile-max {

	@include pmc-breakpoint(mobile-max) {
		width: 33.33%;
	}
}

.lrv-u-width-55p\@tablet {
	@include pmc-breakpoint(tablet) {
		width: 55%;
	}
}

.lrv-u-width-35p\@tablet {

	@include pmc-breakpoint(tablet) {
		width: 35%;
	}
}

.lrv-u-width-75p\@tablet {

	@include pmc-breakpoint(tablet) {
		width: 75%;
	}
}

.lrv-u-max-width-30p\@mobile-max {
	@include pmc-breakpoint(mobile-max) {
		max-width: 30%;
	}
}

.lrv-u-width-28\@mobile-max {
	@include pmc-breakpoint(mobile-max) {
		width: pmc-rem(28);
	}
}

.lrv-u-width-22p\@mobile-max {
	@include pmc-breakpoint(mobile-max) {
		width: 22%;
	}
}

.lrv-u-width-56p\@mobile-max {
	@include pmc-breakpoint(mobile-max) {
		width: 56%;
	}
}

.lrv-u-width-135\@mobile-max {
	@include pmc-breakpoint(mobile-max) {
		width: pmc-rem(135);
	}
}

.lrv-u-width-100p\@tablet {
	@include pmc-breakpoint(tablet) {
		width: 100%;
	}
}

.lrv-u-max-width-830 {
	max-width: pmc-rem(830);	
}
