@import 'setup';

.lrv-u-word-break-break-all {
    word-break: break-all;
}

.lrv-u-word-break-break-word {
    word-break: break-word;
}

.lrv-u-word-break-keep-all {
    word-break: keep-all;
}

.lrv-u-word-break-normal {
    word-break: normal;
}

.lrv-u-word-break-unset {
    word-break: unset;
}