$NAMESPACE: 'lrv-' !global;

@if variable-exists( 'features' ) and true == map-get( $features, a-grid-namespace ) {
	$cols-selector: 'grid-cols-' !global;
	$span-selector: 'grid-item-span-' !global;
}

@if variable-exists( 'features' ) and true == map-get( $features, a-crop-breakpoint ) {
	$a-crop-breakpoint: true !global;
};