@import '@penskemediacorp/larva-scss/dist/tools';

.lrv-a-floated-parent::before,
.lrv-a-floated-parent::after {
	content: '';
	display: table;
}

.lrv-a-floated-parent::after {
	clear: both;
}

.lrv-a-floated-parent {
	zoom: 1;
}

.lrv-a-floated-left {
	float: left;
}

.lrv-a-floated-left\@tablet {

	@include pmc-breakpoint( tablet ) {
		float: left;
	}
}

.lrv-a-floated-right\@tablet {
	@include pmc-breakpoint(tablet) {
		float: right;
	}
}