@import 'setup';

@function _get-font-family( $string ) {

	$result: '';

	@if ( str-index( $string, '-s' ) ) {
		$result: str-replace( $string, '-s' );
	}

	@if ( str-index( $string, '-m' ) ) {
		$result: str-replace( $string, '-m' );
	}

	@if ( str-index( $string, '-l' ) ) {
		$result: str-replace( $string, '-l' );
	}

	@return $result;
}

@mixin _a-font( $token, $value ) {

	$full-token: $token;
	$token: str-replace( $token, 'typography-' );

	.lrv-a-font-#{$token} {
		$font-family: _get-font-family( $token );

		font-family: var( --font-family-#{$font-family} );
		font-size: clamp(#{$value});
		font-size: clamp(var(--#{$full-token}));
		line-height: calc(2px + 2ex + 2px); // stylelint-disable-line unit-disallowed-list
	}
}

@each $token, $value in $TOKENS-MAP {

	$token-str: quote( $token );

	@if str-index( $token-str, 'typography' ) {
		@include _a-font( $token, $value );
	}
}
