@mixin _color-class-generator( $property, $colors, $color_list: () ) {
	@if $property != 'color' and $property != 'background-color' {
		@error "`#{$property}` is not a valid value for $property. It must be either 'background', 'color', or 'background-color'.";
	}

	@if type-of($colors) != 'list' {
		@error "`#{$colors}` is not a valid value for $colors. It must be a list.";
	}

	@each $name in $colors {
		$property_name: $property;

		@if $property == 'background-color' {
			$property_name: 'background'
		}

		@if map-get($color_list, $name) {
			$color: map-get($color_list, $name);

			.pmc-u-#{$property_name}-#{$name} {
				#{$property}: $color;
			}
		} @else {
			@error "`#{$color_list}` does not contain #{$name}.";
		}
	}
}
