@import '@penskemediacorp/larva-scss/dist/tokens';


// NOTE / TODO: this is a reminder to add generic and element styles on Monday
* {
	box-sizing: border-box;
}

:root {
	--font-family-primary: #{map-get( $semantic-font-families, 'helvetica' )};
	--font-family-primary-fancy: #{map-get( $semantic-font-families, 'balto' )};
	--font-family-secondary: #{map-get( $semantic-font-families, 'georgia' )};
	--font-family-secondary-fancy: #{map-get( $semantic-font-families, 'eksell' )};

	--site-max-width: #{$screen-desktop-xl};

	--color-grey-medium-light: #{map-get( $semantic-color-list, grey-medium-light )};
	--color-grey: #{map-get( $semantic-color-list, grey )};
	--color-grey-medium-dark: #{map-get( $semantic-color-list, grey-medium-dark )};
}