@import '@penskemediacorp/larva-scss/dist/tools';

@include pmc-breakpoint( tablet ) {

	.lrv-a-hover-dropup\@tablet {
		position: relative;
		min-width: 14rem;
	}

	.lrv-a-hover-dropup-trigger\@tablet {
		cursor: pointer;
	}

	.lrv-a-hover-dropup-target\@tablet {
		width: 100%;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		width: 100%;
		z-index: 2;
		bottom: 100%;
		left: 0;
		overflow-y: scroll;
		max-height: 8.438rem;
	}

	.lrv-a-hover-dropup\@tablet:hover .lrv-a-hover-dropup-target\@tablet,
	.lrv-a-hover-dropup\@tablet:focus .lrv-a-hover-dropup-target\@tablet {
		visibility: visible;
		opacity: 1;
	}
	
	// Transform a-icon
	.lrv-a-hover-dropup\@tablet:hover .lrv-a-icon-arrow-down::after,
	.lrv-a-hover-dropup\@tablet:focus .lrv-a-icon-arrow-down {
		--a-icon-transform: rotate(180deg);
	}
}