@import "true";
@import "../lib/tools/tools";

@include test-module('@mixin _a-crop-generator') {
	@include test('generates non-namespaced crops') {

		@include assert {

			@include output {
				@include _a-crop-generator( (
					'3x2': (3, 2)
				) );
			}

			@include contains {
				.a-crop-3x2 {
					padding-bottom: calc( ( 2 / 3 ) * 100% );
				}

				.a-crop-3x2 img {
					object-fit: cover;
				}
			}
		}
	}

	@include test('generates namespaced crops') {

		@include assert {

			@include output {
				@include _a-crop-generator( (
					'3x2': (3, 2)
				), $namespace: 'lrv-' );
			}

			@include contains {
				.lrv-a-crop-3x2 {
					padding-bottom: calc( ( 2 / 3 ) * 100% );
				}

				.lrv-a-crop-3x2 img {
					object-fit: cover;
				}
			}
		}
	}
}