@import "true";
@import "../lib/tools/tools";

@include test-module('@mixin _a-grid-generator') {

	@include test('generates non-namepsaced grids') {
		@include assert {

			@include output {
				$grids: (
					(
						columns: 2,
						spans: ( 2, ),
					),
					(
						columns: 3,
						breakpoint: tablet,
						spans: ( 2, ),
					),
				);

				@include _a-grid-generator( $grids, '' );
			}

			@include expect {
				.a-cols2 {
					--cols: 2;
				}

				.a-cols2 > * {
					flex-basis: 50%;
				}

				@supports (display: grid) {
					.a-span2 {
						grid-column: span 2;
					}
				}

				.a-cols2 > .a-span2 {
					flex-basis: 100%;
				}

				@media( min-width: 48rem ) {
					.a-cols3\@tablet {
						--cols: 3;
					}

					.a-cols3\@tablet > * {
						flex-basis: 33.33333%;
					}
				}

				@media( min-width: 48rem ) {

					.a-span2\@tablet {
						@supports ( display: grid ) {
							grid-column: span 2;
						}
					}

					.a-cols3\@tablet > .a-span2\@tablet {
						flex-basis: 66.66667%;
					}
				}
			}

		}
	}

}