@import "true";
@import "../dist/tokens";
@import "../dist/generators";

// Module Group
@include test-module('Distributed') {

	@include test('@mixin u-background') {

		@include assert {

			@include output {
				$color_list: (
					blue: #B1CAFB,
				);

				@include u-background( (
					blue,
				), $color_list );
			}

			@include contains {
				.u-background-blue {
					background-color: #B1CAFB;
				}
			}
		}
	}

	@include test('@mixin u-padding') {

		@include assert {

			@include output {

				@include u-padding( (
					('tb', $spacer-050),
				) );
			}

			@include contains {
				.u-padding-tb-050 {
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
				}

			}
		}
	}
}
