@import "true";
@import "../lib/tools/tools";

// Functions
@include test-module('Functions') {

	// Private _strip-unit function.
	@include test('@function _strip-unit') {
		@include assert-equal( _strip-unit(16px), 16 );
	}

	// pmc-rem function.
	@include test('@function pmc-rem') {
		@include assert-equal( pmc-rem(16), '1rem' );
	}

	// pmc-rem function.
	@include test('@function pmc-inline-svg') {

		$arrow: '<svg width="10" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M25.663 90.25l-6.75 6.429c-.226.214-.45.321-.788.321-.337 0-.563-.107-.788-.321-.45-.429-.45-1.072 0-1.5L23.3 89.5l-5.963-5.679c-.45-.428-.45-1.071 0-1.5a1.125 1.125 0 0 1 1.576 0l6.75 6.429c.45.429.45 1.071 0 1.5z" id="a"/></defs><use fill="#FFF" transform="matrix(-1 0 0 1 26.5 -81.5)" xlink:href="#a"/></svg>';

		@include assert {
			
			@include output {
				.a-icon-right-arrow {
					--icon: url( #{pmc-inline-svg( $arrow )} );
				}
			}
	
			@include expect {
				.a-icon-right-arrow {
					--icon: url( "data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2710%27%20height%3D%2716%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%3E%3Cdefs%3E%3Cpath%20d%3D%27M25.663%2090.25l-6.75%206.429c-.226.214-.45.321-.788.321-.337%200-.563-.107-.788-.321-.45-.429-.45-1.072%200-1.5L23.3%2089.5l-5.963-5.679c-.45-.428-.45-1.071%200-1.5a1.125%201.125%200%200%201%201.576%200l6.75%206.429c.45.429.45%201.071%200%201.5z%27%20id%3D%27a%27%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%27%23FFF%27%20transform%3D%27matrix%28-1%200%200%201%2026.5%20-81.5%29%27%20xlink%3Ahref%3D%27%23a%27%2F%3E%3C%2Fsvg%3E" );
				}
			}
		}
	}

}