@import "true";
@import "../lib/tools/tools";

@include test-module('@mixin _text-utility-generator') {

	@include test('generates non-namespaced classes') {

		@include assert {

			@include output {

				$font-size-1: 1rem;
				$font-size-2: 2rem;

				$font-weights: (
					bold: 600,
				);

				$line-heights: (
					sm: 1,
					md: 2,
					lg: 3,
				);

				$font-family-balto: Balto, sans-serif;

				$font-families: (
					balto: ($font-family-balto, 'web',),
					helvetica: (Helvetica, 'system',),
				);


				@include _text-class-generator(
					'font-size',
					(
						( $font-size-1, ),
						( $font-size-2, desktop, )
					),
					'',
				);

				@include _text-class-generator(
					'line-height',
					(
						sm,
					),
					'',
					$line-heights,
				);

				@include _text-class-generator(
					'font-weight',
					(
						bold,
					),
					'',
					$font-weights,
				);

				@include _text-class-generator(
					'font-family',
					(
						balto,
						helvetica
					),
					'',
					$font-families,
				);
			}

			@include expect {
				.u-font-size-16 {
					font-size: 1rem;
				}

				@media( min-width: 62.5rem ) {
					.u-font-size-32\@desktop {
						font-size: 2rem;
					}
				}

				.u-line-height-sm {
					line-height: 1;
				}

				.u-font-weight-bold {
					font-weight: 600;
				}

				.wf-active .u-font-family-balto {
					font-family: Balto, sans-serif;
				}

				.u-font-family-helvetica {
					font-family: Helvetica;
				}
			}

		}
	}

}

