@import "true";
@import "../lib/tools/tools";

@include test-module('@mixin token-utility-generator') {
	$map: (
		background-color-brand-primary: #FF00AA,
		text-color-grey-light: #CCCCCC,
	);

	@include test('generates background color') {
		@include assert {

			@include output {

				@include token-utility-generator(
					'background-color',
					(
						background-color-brand-primary,
					),
					$map,
				);
			}

			@include expect {
				.u-background-color-brand-primary {
					background-color: #FF00AA;
					background-color: var( --background-color-brand-primary, #FF00AA );
				}
			}
		}
	}

}