// Button
//
// .c-button--block - Used on previous next, etc.
// .c-button--plain - Plain button.
//
// Markup: c-button.twig
//
// Style Guide: Components.Button

@import '~@setup';

.c-button {
	@include _button-base( $color: $color-red-31, $color-hover: $color-red-18 );
}

.c-button--block {
	background-color: $color-red-31;
	box-shadow: $shadow-light;
	color: $color-white;
	border: none;
	border-radius: 0;
	transition: box-shadow $transition-button;

	&:hover {
		color: $color-white;
		box-shadow: $shadow-dark;
	}
}

.c-button--plain {
	border: none;
	border-radius: 0;
}
