@import '@penskemediacorp/larva-scss/dist/generators';
@import '@penskemediacorp/larva-scss/dist/tokens';
@import '@penskemediacorp/larva-tokens/build/default.map.scss';

$TOKENS-MAP: $default-map;

$ICONS_BUILD_PATH: '../icons';

// Feature Flags
$features: (
	'utilities-v2': true,
	'breakpoints-v2': true,
	'a-grid-namespace': true,
);

// Override grid generator vars according to feature flag.
@if variable-exists( 'features' ) and true == map-get( $features, a-grid-namespace ) {
	$cols-selector: 'grid-cols-';
	$span-selector: 'grid-item-span-';
}
