.pmc-a-crop-1x1 {
  position: relative;
  padding-bottom: calc( ( 1 / 1 ) * 100%); }
  .pmc-a-crop-1x1 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.pmc-a-crop-2x1 {
  position: relative;
  padding-bottom: calc( ( 2 / 2 ) * 100%); }
  .pmc-a-crop-2x1 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.pmc-a-crop-2x3 {
  position: relative;
  padding-bottom: calc( ( 2 / 3 ) * 100%); }
  .pmc-a-crop-2x3 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.pmc-a-crop-4x3 {
  position: relative;
  padding-bottom: calc( ( 3 / 4 ) * 100%); }
  .pmc-a-crop-4x3 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.pmc-a-crop-16x9 {
  position: relative;
  padding-bottom: calc( ( 9 / 16 ) * 100%); }
  .pmc-a-crop-16x9 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.pmc-a-crop-3x4 {
  position: relative;
  padding-bottom: calc( ( 4 / 3 ) * 100%); }
  .pmc-a-crop-3x4 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }
