// Nav
//
// .o-nav--flexy - A horizontal, flexible, centered nav.
// .o-nav--horizontal - A horizontal, centered nav.
//
// Markup: o-nav.twig
//
// Style Guide: Objects.Nav

@import '@setup';

.o-nav {}

.o-nav__title {}

.o-nav--flexy .o-nav__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.o-nav--horizontal .o-nav__list {
	display: flex;
	align-items: center;
}

.o-nav--flexy .o-nav__list-item {
	padding-left: $spacer-050;
	padding-right: $spacer-050;
	border-right: 1px solid map-get( $semantic-color-list, grey-medium );
}

.o-nav__list-item:last-child {

	.o-nav--flexy  & {
		border-right: 0;
	}
}
