// Update this to brand name.
@import '@penskemediacorp/larva-tokens/build/default.map.scss';

// All project level values *not* available from the official
// larva-tokens package should be added here.

// BE ORGANIZED. If this starts getting too long, you can separate
// each category into its own map and use map-merge to consolidate them.

// Colors.
$random-specific-color: '#B0C0E5';

$local-tokens: (

	// COLORS - Must follow same property naming as tokens.
	'color-random-specific': $random-specific-color,
	'background-color-random-specific': $random-specific-color,

	// SPACING - Add with caution.
	// will output all lr, tb, l, r, t, b, and a for:
	// margin, margin@desktop, margin@desktop-xl
	// padding, padding@desktop, padding@desktop-xl
	'spacing-n1': -1rem, // Negative spacing only supported by margin.

	// Example of a value not included in tokens.
	// See u-opacity.scss
	'opacity-0': 0,
	'opacity-75': 0.75,
);

$TOKENS-MAP: map-merge( $default-map, $local-tokens );
