@import 'setup';

html {
	// Use whitespace and initial in custom properties to invalidate values
	// for simplification of media queries.
	// Explanation::
	// https://lea.verou.me/2020/10/the-var-space-hack-to-toggle-multiple-values-with-one-custom-property/
	// Reduced example:
	// https://codepen.io/laras126/pen/ExZbvPY

	--ON: initial;
	--OFF: /*! whitespace toggle */;

	--is-desktop: var( --OFF );
	--is-desktopxl: var( --OFF );

	@include pmc-breakpoint( desktop ) {
		--is-desktop: var( --ON );
	}

	@include pmc-breakpoint( desktop-xl ) {
		--is-desktopxl: var( --ON );
	}
}

*,
::before,
::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
}

img {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
}

[hidden] {
	display: none;
	width: 0;
	height: 0;
}

#icon-sprite { // stylelint-disable-line selector-max-specificity
	display: none;
}

svg {
	fill: currentColor;
}

cite {
	font-style: normal;
}