*,
::before,
::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
}

img {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
}

[hidden] {
	display: none;
	width: 0;
	height: 0;
}

#icon-sprite { // stylelint-disable-line selector-max-specificity
	display: none;
}

svg {
	fill: currentColor;
}

cite {
	font-style: normal;
}