@import 'setup';

// For side skin ads. This is added to `body` or to `html`.
// If the elements inside have been build responsively, everything
// should automatically adjust for the skins.
.has-side-skins {
	max-width: $screen-desktop;
	margin-left: auto;
	margin-right: auto;
}