@import 'packages/larva-tokens/build/variety-compat.map.scss';

$corrected-brand-primary: map-get( $variety-compat-map, 'color-brand-primary' );
$corrected-brand-secondary: map-get( $variety-compat-map, 'color-brand-secondary');
$corrected-brand-secondary-light: map-get( $variety-compat-map, 'color-brand-secondary-light');
$corrected-brand-primary-dark: map-get( $variety-compat-map, 'color-brand-primary-dark');


/* stylelint-disable declaration-colon-space-after */

// Map incorrectly named color tokens to correctly named ones, GUT-191
.lrv-variety-compat {
	--color-brand-primary:            #{$corrected-brand-primary};
	--border-color-brand-primary:     #{$corrected-brand-primary};
	--background-color-brand-primary: #{$corrected-brand-primary};

	--color-brand-secondary:            #{$corrected-brand-secondary};
	--border-color-brand-secondary:     #{$corrected-brand-secondary};
	--background-color-brand-secondary: #{$corrected-brand-secondary};

	--color-brand-primary-dark:            #{$corrected-brand-primary-dark};
	--border-color-brand-primary-dark:     #{$corrected-brand-primary-dark};
	--background-color-brand-primary-dark: #{$corrected-brand-primary-dark};

	--color-brand-secondary-light:            #{$corrected-brand-secondary-light};
	--border-color-brand-secondary-light:     #{$corrected-brand-secondary-light};
	--background-color-brand-secondary-light: #{$corrected-brand-secondary-light};
}

/* stylelint-enable declaration-colon-space-after */