$corrected-brand-primary: #6B7B84;
$corrected-brand-secondary: #EEE809;
$corrected-brand-secondary-light: #F3F5CB;
$corrected-brand-primary-dark: #243842;

/* stylint-disable declaration-colon-space-after */

.lrv-variety-compat {
	--color-brand-primary:              #{$corrected-brand-primary};
	--border-color-brand-primary:       #{$corrected-brand-primary};
	--background-color-brand-primary:   #{$corrected-brand-primary};
	--color-brand-secondary:            #{$corrected-brand-secondary};
	--border-color-brand-secondary:     #{$corrected-brand-secondary};
	--background-color-brand-secondary: #{$corrected-brand-secondary};
}

/* stylint-enable declaration-colon-space-after */