<div class="cover lrv-a-glue-parent">
	<div class="lrv-a-glue">
		{% include "modules/paragraph/paragraph.twig" with paragraph %}
	</div>
	{% include "components/c-lazy-image/c-lazy-image.twig" with c_lazy_image %}
</div>