@import '@penskemediacorp/larva-scss/dist/tokens';

$semantic-color-list: (
	white:              $color-grey-100,
	black:              $color-grey-0,
	red:                $color-red-49,
	orange:             $color-orange-50,
	yellow:             $color-yellow-50,
	brand-primary:      $color-red-31,
	blue:               $color-blue-50,
	blue-medium-light:  $color-blue-65,
	blue-light:         $color-blue-96,
	blue-lightest:      $color-blue-92,
	exclusive:          $color-yellow-50,
	grey:               $color-grey-50,
	grey-lightest:      $color-grey-98,
	grey-light:         $color-grey-90,
	grey-medium-light:  $color-grey-80,
	grey-medium:        $color-grey-70,
	grey-medium-dark:   $color-grey-35,
	grey-dark:          $color-grey-20,
	grey-darkest:       $color-grey-10,
	green:              $color-green-28,
	green-light:        $color-green-93,
	geyser:             $color-geyser-85,
	twitter:            $color-twitter,
);
