
@import '../setup';

.pmc-grid {
	@supports( display: grid ) {
		display: grid;
		grid-gap: 1.25rem;
		grid-template-columns: repeat( var( --cols, 1 ), 1fr );
	}
}

// This would actually be in this file.
@mixin pmc-grid( $grids ) {
	@include _grid-class-generator( $grids );
};
