name: Visual Regression Tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Dependencies
      run: npm ci
      run: ./node_modules/.bin/lerna bootstrap
    - name: Run Tests
      run: nohup node ./packages/larva/lib/start.js > /dev/null 2>&1 &
      run: npm run backstop -- test
      env:
        CI: true